# Local PostgreSQL Database URL
DATABASE_URL=postgresql://postgres:password@localhost:5433/dm_project

# Local Memgraph Database URL
MEMGRAPH_URI=bolt://localhost:7687
MEMGRAPH_USER=
MEMGRAPH_PASSWORD=
