# PostgreSQL Database URL
# Example Neon URL: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://user:password@localhost:5432/postgres

# Memgraph Database URL
# Example Memgraph Cloud URL: bolt://[user]:[password]@[memgraph_hostname]:7687
MEMGRAPH_URI=bolt://localhost:7687
MEMGRAPH_USER=
MEMGRAPH_PASSWORD=
